@import '../../App.scss';

.loading{
    width: 70%;
    height: 88vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(45, 139, 171);
}
.container{
    width: 70%;
    height: 88vh;
    padding: 5px;
    .box{
        padding: 10px;
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        min-height: 70vh;
        gap: 2rem;
        .main{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .qNo{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 5px 2px;
                width: 100%;
                height: 2rem;
                background-color: orange;
                font-weight: 600;
                border-radius: 4px;
            }
            .question{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 10px 0px;
            }
            .options{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: flex-start;
                align-items: flex-start;
                .option{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 10px 15px;
                    background-color: lightblue;
                    width: 100%;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .selected{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 10px 2px;
                    background-color: rgb(22, 132, 169);
                    width: 100%;
                    // border: 1px solid black;
                    padding: 10px 15px;
                    box-shadow: 0px 0px 4px;
                }
            }
        }
        .action{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .previous{
                width: 8rem;
                height: 3rem;
                border: 1px solid black;
                border-radius: 3px;
                background-color: lightcoral;
                color: white;
                font-weight: 600;
                letter-spacing: 0.7px;
                cursor: pointer;
            }
            .clear{
                width: 10rem;
                height: 3rem;
                border: 1px solid black;
                border-radius: 3px;
                background-color: rgb(34, 230, 57);
                color: rgb(27, 60, 48);
                font-weight: 600;
                letter-spacing: 0.7px;
                cursor: pointer;
            }
            .next{
                width: 8rem;
                height: 3rem;
                border: 1px solid black;
                border-radius: 3px;
                background-color: rgb(145, 20, 20);
                color: white;
                font-weight: 600;
                letter-spacing: 0.7px;
                cursor: pointer;
            }
        }
    }

}